<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>ca.orlenko.sprava.runtime</string>
	<key>BundleProgram</key>
	<string>Contents/MacOS/sprava-runtime</string>
	<key>KeepAlive</key>
	<true/>
	<key>MachServices</key>
	<dict>
		<key>ca.orlenko.sprava.runtime.xpc</key>
		<true/>
	</dict>
	<key>ProcessType</key>
	<string>Adaptive</string>
</dict>
</plist>
